:root {
   --data-green: #50d100;
   --d0: green;
   --d1: white;
   --grd: black;
   --led: rgb(110, 28, 28);
   --power: red;
   --terminal-bg-color: rgba(161, 253, 167, 0.997);
   --led-off: rgb(254, 252, 192);
   --led-12v: rgb(0, 207, 0);
   --led-24v: rgb(0, 140, 255);
   --led-12v-shadow: rgb(159, 251, 159);
}

body{
   margin: 20px;
   font-size: 24px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}



#title, #inputReaderContainer, #d8Container, .circleContainer {
   display: flex;
   justify-content: center;
   align-content: center;
}

.text-format {
   padding:3px;
   font-size: 8px;
   writing-mode: vertical-rl;
   text-orientation: mixed;
 }

 /* === D8 === */

 .circle {
   width: 12px;
   height: 12px;
   border: 1px solid black;
   border-radius: 50%;
   background-color: var(--led-off);
   margin: auto;
 }

 .circleSize {
   display: flex;
   width: 320px;
   margin-bottom: 5px;
 }

 .d8Size {
   width: 320px;
   height: 40px;
   /* margin: 20px; */
 }

 .d8Grid {
    display: grid;
    grid-template-rows: 20px 15px;
    grid-template-columns: repeat(8, 1fr);
    border: solid 1px black;
    border-radius: 2PX;
    background-color: var(--terminal-bg-color);
 }

 .d8Grid > *{
   border-bottom: 1px solid black;
   border-right: 1px solid black;
 }

 .d8Grid :nth-child(8) {
   border-right: none;
 }

 .d8-title-format {
   display: flex;
   justify-content: center;
   align-items: center;
   font-size:  8px;
   font-weight: bold;
   border: none;
 }

 .d8-text-format {
   display: flex;
   /* margin: auto; */
   font-size: 8px;
   /* writing-mode: vertical-rl; */
   /* text-orientation: mixed; */
   text-align: center;
   flex-wrap: wrap;
   flex-direction: row;
   align-content: center;
   align-items: baseline;
   justify-content: space-around;
   text-align: center;
 }

 #positive, #negative {
  padding: 2px 3px 2px 3px
 }

 ._12vled {
   background-color: var(--led-12v);
   box-shadow: var(--led-12v-shadow) 0px 0px 3px 3px, var(--led-12v-shadow) 0px 4px 6px -1px, var(--led-12v-shadow) 0px 1px 0px inset;
   border: 1px solid #45b500;
 }

 .positiveLead {
   background-color: red;
   color: white;
   font-weight: bold;
 }

 .negativeLead {
   background-color: black;
   color: white;
   font-weight: bold;
 }


/* === INPUTS === */

.zoneInputSize {
   width: 120px;
   height: 40px;
   margin: .5px;
}

.inputGrid {
   display: grid;
   grid-template-rows: 40px 15px;
   grid-template-columns: repeat(6, 1fr);
   border: solid 1px black;
   border-radius: 2PX;
   background-color: var(--terminal-bg-color);
}

.inputGrid > * {
   border-bottom: 1px solid black;
   border-right: 1px solid black;
}

.inputGrid > :nth-child(6) {
   border-right: none;
 }

 .input-title-format {
   display: flex;
   justify-content: center;
   align-items: center;
   font-size:  8px;
   font-weight: bold;
   grid-column: span 6;
   border: none;
 }

.highlight-door {
 background-color: var(--data-green);
}

.highlight-common {
   background-color: white;
   font-weight: bold;
}

.highlight-rex {
 background-color: var(--data-green);
}

/* === READER === */

.readerGrid {
   display: grid;
   grid-template-rows: 40px 15px;
   grid-template-columns: repeat(9, 1fr);
   border: solid 1px black;
   border-radius: 2px;
   background-color: var(--terminal-bg-color)
}

.readerSize {
   width: 180px;
   height: 40px;
   margin: .5px;
}

.readerGrid > * {
   border-bottom: 1px solid black;
   border-right: 1px solid black;
}

.readerGrid > *:nth-child(9) {
   border-right: none;
 }

 .reader-title-format {
   display: flex;
   justify-content: center;
   align-items: center;
   font-size:  8px;
   font-weight: bold;
   grid-column: span 9;
   border: none;
 }

 .reader_d0 {
   background-color: var(--d0);
   color: white;
 }

 .reader_d1 {
   background-color: var(--d1);
   font-weight: bold;
 }

 .reader_grd {
   background-color: var(--grd);
   color: white;
 }

 .reader_led {
   background-color: var(--led);
   color: white;
 }

 .reader__12v {
   background-color: var(--power);
   color: white;
 }